* {
  box-sizing: border-box;
}
:root {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(239deg, #bd00ff 7.63%, #00a3ff 117.53%), #fff;
}

.container {
  background-repeat: none;
  background-size: cover;
  border-radius: 13px;
  margin: 0.75rem 0.5rem;
  height: 100vh;

  padding-left: 1em;
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 0;
    padding-top: 1rem;

    .menu--btn {
      background-color: transparent;
      border: none;
      justify-self: left;
      cursor: pointer;

      .header--icon {
        grid-column: span 1;
        font-size: 1.5rem;
        color: #fff;
      }
      .icon {
        color: #fff;
        font-weight: 700;
        font-size: 2rem;
        margin-right: 1rem;
        align-self: center;
      }
    }
    .logo {
      text-align: center;
      text-transform: uppercase;
      color: #2d7dff;
      font-size: 1.5rem;
      font-weight: 800;
      letter-spacing: -2.88px;
      line-height: 111%;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

.content--container {
  margin-bottom: 2rem;
  .logo--wide {
    text-align: center;
    text-transform: uppercase;
    color: #2d7dff;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: -2.88px;
    line-height: 111%;
    margin-bottom: 0;
    margin-top: 0;
  }
  .main--title {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1;
    color: #fff;
    margin-bottom: 0;
    margin-top: 8rem;
  }
  h2 {
    font-weight: 275;
    font-size: 2.125rem;
    color: #847d93;
    margin-top: 0.7em;
    margin-bottom: 0;
    line-height: 111%;
  }
  .go--btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;

    letter-spacing: 0.05rem;
    font-size: 1.125rem;
    padding: 1.25rem 1.5rem;
    margin-top: 2.875rem;
    border: solid 1px #4d4d4d;
  }
}

.go--btn:hover {
  background-color: #00a3ff;
}

@media (min-width: 1000px) {
  .container {
    display: FLEX;
    margin-left: 0;
    padding: 0;
    margin: 4.56rem;
    height: 90vh;
  }
  .content--container {
    display: flex;
    padding-left: 5rem;
    .logo--wide {
      text-align: left;
      margin-top: 3.125rem;
    }
    .main--title {
      font-size: 4rem;
    }
    h2 {
      font-size: 3rem;
    }
  }

  :root {
    background: linear-gradient(252deg, #bd00ff 5.28%, #00a3ff 98.3%);
  }
}
