* {
  box-sizing: border-box;
}
:root {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(239deg, #bd00ff 7.63%, #00a3ff 117.53%), #fff;
}

.container {
  background-repeat: none;
  background-size: cover;
  border-radius: 13px;
  margin: 0.75rem 1rem;
  height: 100vh;
  padding-left: 2rem;
}
.main--title {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  color: #fff;
  margin-bottom: 0;
  margin-top: 15rem;
}
.back--btn {
  background-color: transparent;
  color: #fff;
  font-size: 1.5rem;
  padding: 3em 2em 2em;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}
.back--btn:hover {
  transform: translateX(-6px);
  background-color: transparent;
}
h2 {
  font-weight: 275;
  font-size: 2.125rem;
  color: #847d93;
  margin-top: 0.7em;
  margin-bottom: 0;
  line-height: 111%;
}

.menu--btn {
  background-color: transparent;
  border: none;
  justify-self: left;
  cursor: pointer;
}
.icon {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  margin-right: 1rem;
  align-self: center;
}
.go--btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;

  letter-spacing: 0.05rem;
  font-size: 1.125rem;
  padding: 1.25rem 1.5rem;
  margin-top: 2.875rem;
  border: solid 1px #4d4d4d;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 0;
  padding-top: 1rem;
}
.header--icon {
  grid-column: span 1;
  font-size: 1.5rem;
  color: #fff;
}
.logo {
  text-align: center;
  text-transform: uppercase;
  color: #2d7dff;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: -2.88px;
  line-height: 111%;
  margin-bottom: 0;
  margin-top: 0;
}

li {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  list-style: none;
  line-height: 111%;
  font-weight: 400;
  font-size: 1rem;
  padding: 1rem 1rem 1rem 2rem;
  display: block;

  cursor: pointer;
}

ul {
  padding-left: 0;
  margin: 0;
  width: 200px;
}
.go--btn:hover {
  background-color: #00a3ff;
}

li:hover {
  background-color: #4d4d4d;
}

.menu--container {
  position: fixed;
  z-index: 1;
  background: #2c2931;
  left: 0;
  top: 0rem;
  height: 100vh;
  max-width: 300px;
}

@media (min-width: 1000px) {
  .container {
    display: FLEX;
    margin-left: 0;
    padding: 0;
    margin: 4.56rem;
    height: 90vh;
  }
  .content--container {
    display: flex;
    padding-left: 5rem;
  }
  .main--title {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  .logo {
    text-align: left;
  }
  .menu--container {
    position: unset;
    background-color: #2c2931;
    width: 300px;
    height: 90vh;
  }
  :root {
    background: linear-gradient(252deg, #bd00ff 5.28%, #00a3ff 98.3%);
  }
  ul {
    width: 213px;
    border-radius: 13px 0 0 13px;
    padding-top: 3.125rem;
  }
  .logo {
    margin-top: 3.125rem;
  }
}
